/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-rigth {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.top-rigth {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
